[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
mcipc = "*"
mojang-api = "*"
gunicorn = "*"

[dev-packages]
flake8 = "*"
flake8-builtins = "*"
flake8-commas = "*"
flake8-comprehensions = "*"
flake8-debugger = "*"
flake8-isort = "*"
flake8-mutable = "*"
flake8-todo = "*"
flake8-tuple = "*"


[scripts]

serve = "gunicorn -b 127.0.0.1:8080 hivemind:app"
